<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>日志管理</title>
  <link rel="stylesheet" href="../js/dialog/dialog.css">
  <link rel="stylesheet" href="css/user.css">
  <script src="../js/vue.min.js"></script>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/wangEditor/wangEditor.min.js"></script>
  <script src="../js/dialog/dialog.js"></script>
  <script src="../js/ieJs.js"></script>
</head>
<script>
  if (IEVersion() != -1) {
    alert("不支持IE浏览器");
    window.location.href = "index.html";
  }
</script>
<body>
  <div class="wrap" id="app" v-cloak>
    <div class="header">
      <a class="header-div">{{admin}}</a>
      <a class="header-div" @click="logout">退出</a>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="user.html">用户管理</a></li>
        <li class="sel"><a href="#">日志管理</a></li>
        <li><a href="album.html">相册管理</a></li>
        <li><a href="message.html">留言管理</a></li>
      </ul>
    </div>
    
    <div class="main">
        <div class="con">
          <div class="con-hd">
            <span>我的日志</span>
          </div>
          <div class="con-main">
            <div class="add-btn" @click="addDaily">发日志</div>
            <table class="con-list">
              <tr class="con-list-li con-list-li-hd">
                <th class="userRow">标题</th>
                <th class="limitRow">用户</th>
                <th class="editRow">修改</th>
                <th class="delRow">删除</th>
                <th class="limitRow">时间</th>
                <th class="limitRow">推荐</th>
              </tr>
              <tr class="con-list-li" v-for="(item, index) in list">
                <td class="userRow">
                  <a class="name">{{item.title}}</a>
                </td>
                <td class="limitRow">
                  <span class="time">{{item.username}}</span>
                </td>
                <td class="editRow">
                  <template v-if="adminGrade==0 || adminGrade ==1">
                    <span class="btn edit" @click="editDaily(index)">
                      <i></i>编辑
                    </span>
                  </template>
                  <template v-if="adminGrade==2">
                    <template v-if="item.username==admin">
                      <span class=" btn edit" @click="editDaily(index)">
                        <i></i>编辑
                      </span>
                    </template>
                    <template v-if="item.username!=admin">
                      <span class="btn edit forbid">
                        <i></i>编辑
                      </span>
                    </template>
                  </template>
                </td>
                <td class="delRow">
                  <template v-if="adminGrade==2">
                    <template v-if="item.username==admin">
                      <span class="btn del" @click="delDaily(index)">
                        <i></i>删除
                      </span>
                    </template>
                    <template v-if="item.username!=admin">
                      <span class="btn del forbid">
                        <i></i>删除
                      </span>
                    </template>
                  </template>
                  <template v-if="adminGrade==0 || adminGrade ==1">
                    <span class="btn del" @click="delDaily(index)">
                      <i></i>删除
                    </span>
                  </template>
                </td>
                <td class="limitRow">
                  <span class="time">{{item.time}}</span>
                </td>
                <td class="limitRow">
                  <span v-for="it in recommendList">
                    <input type="radio" 
                    :id="'admin'+index"
                    :name="'admin'+index"
                    :value="it.value"
                    v-model="item.recommend"
                    @change="editRecommend(index)">
                    <label :for="'admin'+index">{{it.name}}</label>
                  </span>
                </td>
              </tr>
            </table>
            <div class="con-ft">
              <a v-show="page>1" @click="pageFun(-1)">上一页</a>
              <a v-show="page<maxPage" @click="pageFun(1)">下一页</a>
              <span>共{{maxPage}}页，当前第{{page}}页</span>
            </div>
          </div>
        </div>
    </div>
    <!-- <div class="footer"></div> -->
    <div class="popEdit" v-show="editStatus">
      <div class="pop-close"></div>
      <div class="pop-main">
        <div class="pop-tit">
          <label for="">标题：</label>
          <input type="text" v-model="title">
        </div>
        <div class="pop-text">
          <label for="">正文:</label>
          <div id="editor" class="editor"></div>
        </div>
        <div class="pop-ft">
          <span @click="cancelDaily">取消</span>
          <span @click="submitDairy">提交</span>
        </div>
      </div>

    </div>
  </div>
  <script>
    new Vue({
      el: "#app",
      data: {
        list: [],
        editor: "",
        E: "",
        title: "",
        editStatus: false,
        idEdit: false,
        updateIdx: '',
        page: 1,
        maxPage: 5,
        admin: "",
        adminGrade: "",
        recommendList: [
          {
            value: 0,
            name: "不推荐"
          },
          {
            value: 1,
            name: "推荐"
          }
        ],
      },
      mounted: function(){
        var _this = this;
        this.E = window.wangEditor;
        this.editor = new this.E("#editor");
        this.editor.customConfig.uploadImgShowBase64 = true;
        this.editor.customConfig.showLinkImg = false;
        this.editor.create();

        this.queryFun();
      },
      methods: {
        addDaily: function(){
          this.editStatus = true;
          this.idEdit = false;
          this.title = "";
          this.editor.txt.html("");
        },

        submitDairy: function(){
          var _this = this;
          var text = _this.editor.txt.html();
          if(_this.title == "" || _this.editor.txt.text() == "") {
            $(document).dialog({
              content: "标题或正文不为空"
            });
          } else {
            if(_this.idEdit==false){

              //添加日志
              $.ajax({
                type: "post",
                url: "php/daily.php?act=add",
                data: {
                  "title": _this.title,
                  "content": text
                },
                success: function(data){
                  console.log(JSON.parse(data));
                  // console.log(data);
                  var data = JSON.parse(data);
                  if(data.status == 0) {
                    $(document).dialog({
                      content: "连接错误"
                    });
                  } else if(data.success == 0) {
                    $(document).dialog({
                      content: "添加失败！"
                    });
                  } else {
                    $(document).dialog({
                      content: "添加成功！"
                    });
                    _this.editStatus = false;
                    _this.queryFun();
                  }
                },
                error: function(data){}
              });
            } else {
              // 更新日志
              $.ajax({
                type: "post",
                url: "php/daily.php?act=update",
                data: {
                  "id": _this.updateIdx,
                  "title": _this.title,
                  "content": text
                },
                success: function(data){
                  var data = JSON.parse(data);
                  if(data.status == 0) {
                    $(document).dialog({
                      conent: "连接错误"
                    });
                  } else if(data.success == 0) {
                    $(document).dialog({
                      content: "更新失败！"
                    });
                  } else {
                    $(document).dialog({
                      content: "更新成功！"
                    });

                    _this.editStatus = false;
                    _this.queryFun();
                  }
                },
                error: function(data){}
              });
            }
          }
        },
        cancelDaily: function(){
          this.editStatus = false;
        },
        editDaily: function(index) {
          this.idEdit = true;
          this.editStatus = true;
          this.title = this.list[index].title;
          this.editor.txt.html(this.list[index].content);
          this.updateIdx = this.list[index].id;
        },
        delDaily: function(index) {
          var _this = this;
          $(document).dialog({
            type: "confirm",
            content: "确定删除该日志吗？",
            onClickConfirmBtn: function() {
              $.ajax({
                type: "post",
                url: "php/daily.php?act=delete",
                data: {
                  "id": _this.list[index].id
                },
                success: function (data) {
                  // console.log(JSON.parse(data));
                  var data = JSON.parse(data);
                  if (data.status == 0) {
                    $(document).dialog({
                      content: "连接错误！"
                    });
                  } else if (data.success == 0) {
                    $(document).dialog({
                      content: "删除失败！"
                    });
                  } else {
                    $(document).dialog({
                      content: "删除成功！"
                    });
                    _this.queryFun();
                  }
                },
                error: function (data) { }
              });
            }
          });
          
        },
        queryFun: function(){
          var _this = this;
          $.ajax({
            type: "post",
            url: "php/daily.php?act=query",
            data: {
              page: _this.page
            },
            success: function (data) {
              console.log(JSON.parse(data));
              var data = JSON.parse(data);
              if (data.isLogin == 0) {
                window.location.href = "index.html";
              } else {
                if (data.status == 0) {
                  $(document).dialog({
                    content: "连接错误"
                  });
                } else {
                  _this.list = Object.values(data.list)[0];
                  // console.log(_this.list);
                  _this.maxPage = data.maxPage;
                  _this.admin = data.username;
                  _this.adminGrade = data.grade;
                }
              }
            },
            error: function (data) {}
          });

        },
        pageFun: function(p){
          if(p < 0) {
            this.page--;
          }
          if(p > 0) {
            this.page++;
          }
          this.queryFun();
          // console.log(this.page);
        },
        editRecommend: function(index){
          var _this = this;
          $.ajax({
            type: "post",
            url: "php/daily.php?act=updateRecommend",
            data: {
              id: _this.list[index].id,
              recommend: _this.list[index].recommend
            },
            success: function(data){
              var data = JSON.parse(data);
              if(data.status == 0){
                $(document).dialog({
                  content: "连接错误"
                });
              } else if(data.success == 0) {
                $(document).dialog({
                  content: "修改失败"
                });
              } else {
                $(document).dialog({
                  content: "修改成功"
                });
                _this.queryFun();
              }
            },
            error: function(data){}
          });
        },
        logout: function(){
          $(document).dialog({
            type: "confirm",
            content: "退出当前账号？",
            onClickConfirmBtn: function(){
              $.ajax({
                type: "post",
                url: "php/login.php?statusLog=logout",
                data: {},
                success: function (data) {
                  window.location.href = "index.html";
                }
              });
            }
          });
          
        },
      }
    });
  </script>
</body>
</html>